$color-primary: #1946BA;
$color-primary-100: #D1DAF1;
$color-primary-300: #7590D6;
$color-primary-500: #143895;
$color-primary-700: #0F2A70;
$color-border-primary: #1946BA;

$color-light: #E8E8E8;
$color-light-700: #EEEEEE;
$color-light-500: #F4F4F4;
$color-light-300: #F9F9F9;
$color-light-100: #FFFFFF;
$color-border-light: #EEEEEE;

$color-dark: #262626;
$color-dark-700: #4D4D4D;
$color-dark-500: #999999;
$color-dark-300: #CCCCCC;
$color-border-dark: #999999;

$color-warning: #F69C00;
$color-warning-300: #FAC466;
$color-warning-100: #FDEBCC;
$color-border-warning: #FAC466;

$color-fail: #D9364B;
$color-fail-300: #E88693;
$color-fail-100: #F7D7DB;
$color-border-fail: #E88693;

$color-success: #3F9726;
$color-success-300: #8CC17D;
$color-success-100: #D9EAD4;
$color-border-success: #8CC17D;

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column
}

.row {
  display: flex;
  flex-direction: row;
}

.mt30 {
  margin-top: 30px;
}

.ml30 {
  margin-left: 30px;
}

.ml60 {
  margin-left: 60px;
}

.mr120 {
  margin-right: 120px;
}

.w260 {
  width: 260px;
  flex-shrink: 0;
}

.w350 {
  width: 350px;
  flex-shrink: 0;
}

.w500 {
  width: 500px;
}

.w700 {
  width: 700px;
  flex-shrink: 0;
}

.w800 {
  width: 800px;
  flex-shrink: 0;
}

.content-wrap {
  height: 100vh;
}

.description {

}

.main-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #1D1A1B;
  margin: 30px;
}

.partition-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 84px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #1D1A1B;
  margin: 30px;
}

.second-partition-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: $color-dark;
  margin: 30px;
}

.instances {
  flex-shrink: 0;
  //margin: 30px;
}

.instance {
  margin: 20px 0;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  width: 135px;
}

.info-title {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $color-dark-500;
}

.info-span {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);

  span {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
  }
}

.df {
  display: flex;
}

.css-code {
  flex-shrink: 0;
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $color-dark-700;
  margin-bottom: 30px;
  margin-left: 20px;

  span {
    color: #F69C00;
    margin-left: -20px;
  }
}

//Заголовки
.cds-sp1 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  paragraph: 32px;
}

.cds-sp2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  paragraph: 28px;
}

.cds-h1 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  paragraph: 24px;
}

.cds-h2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  paragraph: 22px;
}

.cds-h3 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  paragraph: 20px;
}

.cds-h4 {
  font-family: Segoe UI, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  paragraph: 18px;
}

//Основной и вспомогательный текст
.cds-subtitle {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  paragraph: 17px;
}

.cds-body-text {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  paragraph: 13px;
}

.cds-body-text-bold {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  paragraph: 13px;
}

.cds-small-text {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-small-text-bold {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-caption {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-caption2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  paragraph: 11px;
}

//Основной текст
.description-text {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-left: 30px;
  margin-bottom: 21px;
}

.example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.outline-base-text {
  width: 440px;
  border: 0.5px solid $color-border-primary;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;

  &:after {
    content: "20px";
    position: relative;
    width: 35px;
    left: -55px;
    top: 100%;
    color: $color-border-primary;
  }

}

.base-text {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background: blue;
    position: absolute;
    left: -20px;
    bottom: -20px;
  }

  &:after {
    content: "";
    width: 440px;
    height: 20px;
    border: 0.5px solid $color-border-primary;
    border-top: none;
    position: absolute;
    left: -0.5px;
    bottom: -20px;
  }
}

//базовые цвета
.mb16 {
  margin-bottom: 16px;
}

.color-block {
  margin-bottom: 30px;
  margin-right: 120px;

  .css-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 16px;
  }
}

.first-color-block {
  margin: 0 30px;
  width: 138.43px;
  height: 74.83px;
  left: 64px;
  top: 263px;
  border-radius: 4px;
}

.second-color-block {
  margin: 0 30px;
  width: 149.66px;
  height: 52.38px;
  border-radius: 4px;
  border: 0.74829px solid $color-border-light;
}

.box {
  width: 222px;
  height: 56px;
  margin-right: 60px;
}

//фирменный цвет и оттенки
.cds-color-primary {
  color: $color-primary;
}

.cds-bg-primary {
  background-color: $color-primary;
}

.cds-color-primary-100 {
  color: $color-primary-100;
}

.cds-bg-primary-100 {
  background-color: $color-primary-100;
}

.cds-color-primary-300 {
  color: $color-primary-300;
}

.cds-bg-primary-300 {
  background-color: $color-primary-300;
}

.cds-color-primary-500 {
  color: $color-primary-500;
}

.cds-bg-primary-500 {
  background-color: $color-primary-500;
}

.cds-color-primary-700 {
  color: $color-primary-700;
}

.cds-bg-primary-700 {
  background-color: $color-primary-700;
}

.cds-border-primary {
  border: 1.49658px solid $color-border-primary;
}

//светлые цвета - фон
.cds-color-light {
  color: $color-light;
}

.cds-bg-light {
  background-color: $color-light;
}

.cds-color-light-700 {
  color: $color-light-700;
}

.cds-bg-light-700 {
  background-color: $color-light-700;
}

.cds-color-light-500 {
  color: $color-light-500;
}

.cds-bg-light-500 {
  background-color: $color-light-500;
}

.cds-color-light-300 {
  color: $color-light-300;
}

.cds-bg-light-300 {
  background-color: $color-light-300;
}

.cds-color-light-100 {
  color: $color-light-100;
}

.cds-bg-light-100 {
  background-color: $color-light-100;
}

//темные цвета - текст
.cds-color-dark {
  color: $color-dark;
}

.cds-bg-dark {
  background-color: $color-dark;
}

.cds-color-dark-700 {
  color: $color-dark-700;
}

.cds-bg-dark-700 {
  background-color: $color-dark-700;
}

.cds-color-dark-500 {
  color: $color-dark-500;
}

.cds-bg-dark-500 {
  background-color: $color-dark-500;
}

.cds-color-dark-300 {
  color: $color-dark-300;
}

.cds-bg-dark-300 {
  background-color: $color-dark-300;
}

.cds-border-dark {
  border: 0.74829px solid $color-border-dark;
}

//желтый
.cds-color-warning {
  color: $color-warning;
}

.cds-bg-warning {
  background-color: $color-warning;
}

.cds-color-warning-300 {
  color: $color-warning-300;
}

.cds-bg-warning-300 {
  background-color: $color-warning-300;
}

.cds-color-warning-100 {
  color: $color-warning-100;
}

.cds-bg-warning-100 {
  background-color: $color-warning-100;
}

.cds-border-warning {
  border: 0.74829px solid $color-border-warning;
}

//красный
.cds-color-fail {
  color: $color-fail;
}

.cds-bg-fail {
  background-color: $color-fail;
}

.cds-color-fail-300 {
  color: $color-fail-300;
}

.cds-bg-fail-300 {
  background-color: $color-fail-300;
}

.cds-color-fail-100 {
  color: $color-fail-100;
}

.cds-bg-fail-100 {
  background-color: $color-fail-100;
}

.cds-border-fail {
  border: 0.74829px solid $color-border-fail;
}

//зеленый
.cds-color-success {
  color: $color-success;
}

.cds-bg-success {
  background-color: $color-success;
}

.cds-color-success-300 {
  color: $color-success-300;
}

.cds-bg-success-300 {
  background-color: $color-success-300;
}

.cds-color-success-100 {
  color: $color-success-100;
}

.cds-bg-success-100 {
  background-color: $color-success-100;
}

.cds-border-success {
  border: 0.74829px solid $color-border-success;
}

//тени
.cds-shadow {
  box-shadow: 0px 4px 4px 0px #F8F8F8;
  box-shadow: 0px 4px 16px 0px #F1F1F1;
}

.cds-shadow-active {
  box-shadow: 0px 4px 4px 0px #F8F8F8;
  box-shadow: 0px 4px 24px 0px #E3E3E3;
}

.cds-shadow-fail {
  box-shadow: 0px 4px 4px 0px #FEF9F9;
  box-shadow: 0px 4px 16px 0px #FEFCFC;
}

.cds-shadow-fail-active {
  box-shadow: 0px 4px 4px 0px #FFFDFE;
  box-shadow: 0px 4px 24px 0px #FCF1F3;
}

.cds-shadow-success {
  box-shadow: 0px 4px 16px 0px #F9FCF8;
  box-shadow: 0px 4px 8px 0px #FCFDFC;
}

.cds-shadow-success-active {
  box-shadow: 0px 4px 4px 0px #F5FAF4;
  box-shadow: 0px 4px 4px 0px #F5FAF4;
}

//формы
.cds-form-control {
  border-radius: 4px;
  padding: 16px;
  border: none;
  @extend .cds-shadow
}

.cds-form-control-active {
  border-radius: 4px;
  padding: 16px;
  border: none;
  @extend .cds-shadow-active
}

.cds-form-control-fail {
  border-radius: 4px;
  padding: 16px;
  border: none;
  @extend .cds-bg-fail-100;
  @extend .cds-shadow-fail;
}

.cds-form-control-fail-active {
  border-radius: 4px;
  padding: 16px;
  border: none;
  @extend .cds-bg-fail-100;
  @extend .cds-shadow-fail-active;
}

.cds-form-control-success {
  border-radius: 4px;
  padding: 16px;
  border: none;
  @extend .cds-bg-success-100;
  @extend .cds-shadow-success;
}


.cds-form-control-disabled {
  border-radius: 4px;
  padding: 16px;
  border: none;
  @extend .cds-bg-light-700;
}
.cds-checkbox.cds-checkbox-checked{
  width: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
  @extend .form-check-input;
  @extend .cds-ipack-ckeck;
}
.marg-text-chec{
  @extend .marg-text-chec-top;

}

