@charset "UTF-8";
* {
  margin: 0;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.jce {
  display: flex;
  justify-content: flex-end;
}

.w260 {
  width: 260px;
  flex-shrink: 0;
}

.w350 {
  width: 350px;
  flex-shrink: 0;
}

.w500 {
  width: 500px;
  flex-shrink: 0;
}

.w700 {
  width: 700px;
  flex-shrink: 0;
}

.w800 {
  width: 800px;
  flex-shrink: 0;
}

.content-wrap {
  max-height: 100vh;
  min-height: 100vh;
}

.main-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #1D1A1B;
  margin: 30px;
}

.partition-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 84px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #1D1A1B;
  margin: 30px;
}

.second-partition-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #262626;
  margin: 30px;
}

.instances {
  flex-shrink: 0;
}

.instance {
  margin: 20px 0;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  width: 135px;
}

.info-title {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.info-span {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
}
.info-span span {
  font-weight: 700;
  color: black;
}

.df {
  display: flex;
}

.css-code {
  flex-shrink: 0;
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #4D4D4D;
  margin-left: 20px;
}
.css-code .span-yellow {
  color: #F69C00;
  margin-left: -20px;
}
.css-code .cds-color-dark-500 {
  margin-left: 30px;
}
.css-code .cds-color-dark-300 {
  margin-left: 40px;
}

.cds-sp1 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  paragraph: 32px;
}

.cds-sp2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  paragraph: 28px;
}

.cds-h1 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  paragraph: 24px;
}

.cds-h2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  paragraph: 22px;
}

.cds-h3 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  paragraph: 20px;
}

.cds-h4 {
  font-family: Segoe UI, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  paragraph: 18px;
}

.cds-subtitle {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  paragraph: 17px;
}

.cds-body-text {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  paragraph: 13px;
}

.cds-body-text-bold {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  paragraph: 13px;
}

.cds-small-text {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-small-text-bold, .cds-badge-pill {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-caption {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-caption2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  paragraph: 11px;
}

.description-text {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-left: 30px;
  margin-bottom: 21px;
}

.example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.outline-base-text {
  width: 440px;
  border: 0.5px solid #1946BA;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
}
.outline-base-text:after {
  content: "20px";
  position: relative;
  width: 35px;
  left: -55px;
  top: 100%;
  color: #1946BA;
}

.base-text {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.base-text:before {
  content: "";
  width: 20px;
  height: 20px;
  background: blue;
  position: absolute;
  left: -20px;
  bottom: -20px;
}
.base-text:after {
  content: "";
  width: 440px;
  height: 20px;
  border: 0.5px solid #1946BA;
  border-top: none;
  position: absolute;
  left: -0.5px;
  bottom: -20px;
}

.color-block {
  margin-bottom: 30px;
  margin-right: 120px;
}
.color-block .css-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
}
.color-block .row {
  margin-bottom: 16px;
}

.first-color-block {
  margin: 0 30px;
  width: 138.43px;
  height: 74.83px;
  left: 64px;
  top: 263px;
  border-radius: 4px;
}

.second-color-block {
  margin: 0 30px;
  width: 149.66px;
  height: 52.38px;
  border-radius: 4px;
  border: 0.74829px solid #EEEEEE;
}

.box {
  width: 222px;
  height: 56px;
  margin-right: 60px;
}

.cds-color-primary, .cds-tagbutton .cds-small-text-bold, .cds-tagbutton .cds-badge-pill {
  color: #1946BA;
}

.cds-bg-primary {
  background-color: #1946BA;
}

.cds-color-primary-100 {
  color: #D1DAF1;
}

.cds-bg-primary-100 {
  background-color: #D1DAF1;
}

.cds-color-primary-300 {
  color: #7590D6;
}

.cds-bg-primary-300 {
  background-color: #7590D6;
}

.cds-color-primary-500 {
  color: #143895;
}

.cds-bg-primary-500 {
  background-color: #143895;
}

.cds-color-primary-700 {
  color: #0F2A70;
}

.cds-bg-primary-700 {
  background-color: #0F2A70;
}

.cds-border-primary {
  border: 1.49658px solid #1946BA;
}

.cds-color-light {
  color: #E8E8E8;
}

.cds-bg-light {
  background-color: #E8E8E8;
}

.cds-color-light-700 {
  color: #EEEEEE;
}

.cds-bg-light-700, .cds-form-control-disabled {
  background-color: #EEEEEE;
}

.cds-color-light-500 {
  color: #F4F4F4;
}

.cds-bg-light-500 {
  background-color: #F4F4F4;
}

.cds-color-light-300 {
  color: #F9F9F9;
}

.cds-bg-light-300 {
  background-color: #F9F9F9;
}

.cds-color-light-100 {
  color: #FFFFFF;
}

.cds-bg-light-100 {
  background-color: #FFFFFF;
}

.cds-color-dark {
  color: #262626;
}

.cds-bg-dark {
  background-color: #262626;
}

.cds-color-dark-700 {
  color: #4D4D4D;
}

.cds-bg-dark-700 {
  background-color: #4D4D4D;
}

.cds-color-dark-500 {
  color: #999999;
}

.cds-bg-dark-500 {
  background-color: #999999;
}

.cds-color-dark-300 {
  color: #CCCCCC;
}

.cds-bg-dark-300 {
  background-color: #CCCCCC;
}

.cds-border-dark {
  border: 0.74829px solid #999999;
}

.cds-color-warning {
  color: #F69C00;
}

.cds-bg-warning {
  background-color: #F69C00;
}

.cds-color-warning-300 {
  color: #FAC466;
}

.cds-bg-warning-300 {
  background-color: #FAC466;
}

.cds-color-warning-100 {
  color: #FDEBCC;
}

.cds-bg-warning-100 {
  background-color: #FDEBCC;
}

.cds-border-warning {
  border: 0.74829px solid #FAC466;
}

.cds-color-fail {
  color: #D9364B;
}

.cds-bg-fail {
  background-color: #D9364B;
}

.cds-color-fail-300 {
  color: #E88693;
}

.cds-bg-fail-300 {
  background-color: #E88693;
}

.cds-color-fail-100 {
  color: #F7D7DB;
}

.cds-bg-fail-100, .cds-form-control-fail-active, .cds-form-control-fail {
  background-color: #F7D7DB;
}

.cds-border-fail {
  border: 0.74829px solid #E88693;
}

.cds-color-success {
  color: #3F9726;
}

.cds-bg-success {
  background-color: #3F9726;
}

.cds-color-success-300 {
  color: #8CC17D;
}

.cds-bg-success-300 {
  background-color: #8CC17D;
}

.cds-color-success-100 {
  color: #D9EAD4;
}

.cds-bg-success-100, .cds-form-control-success {
  background-color: #D9EAD4;
}

.cds-border-success {
  border: 0.74829px solid #8CC17D;
}

.cds-shadow, .cds-tagbutton.hover .cds-form-control-hover, .cds-tagbutton:hover .cds-form-control-hover, .cds-badge-pill.cds-badge-hover, .cds-badge-pill:hover, .cds-form-control {
  box-shadow: 0 4px 4px 0 #F8F8F8;
  box-shadow: 0 4px 16px 0 #F1F1F1;
}

.cds-shadow-active, .cds-form-control-active, .cds-list.cds-list-flush {
  box-shadow: 0 4px 4px 0 #F8F8F8;
  box-shadow: 0 4px 24px 0 #E3E3E3;
}

.cds-shadow-fail, .cds-form-control-fail {
  box-shadow: 0 4px 4px 0 #FEF9F9;
  box-shadow: 0 4px 16px 0 #FEFCFC;
}

.cds-shadow-fail-active, .cds-form-control-fail-active {
  box-shadow: 0 4px 4px 0 #FFFDFE;
  box-shadow: 0 4px 24px 0 #FCF1F3;
}

.cds-shadow-success, .cds-form-control-success {
  box-shadow: 0 4px 16px 0 #F9FCF8;
  box-shadow: 0 4px 8px 0 #FCFDFC;
}

.cds-shadow-success-active {
  box-shadow: 0 4px 4px 0 #F5FAF4;
  box-shadow: 0 4px 4px 0 #F5FAF4;
}

.cds-form-control {
  border-radius: 4px;
  padding: 16px;
  border: none;
  background: #FFFFFF;
}

.cds-form-control-active, .cds-list.cds-list-flush {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  border: none;
  background: #FFFFFF;
}

.cds-form-control-fail {
  border-radius: 4px;
  padding: 16px;
  border: none;
}

.cds-form-control-fail-active {
  border-radius: 4px;
  padding: 16px;
  border: none;
}

.cds-form-control-success {
  border-radius: 4px;
  padding: 10px 16px;
  border: none;
}

.cds-form-control-disabled {
  border-radius: 4px;
  padding: 16px;
  border: none;
}

.cds-form-control.cds-form-control-attach, .cds-form-control.cds-form-control-attach-help, .cds-form-control.cds-form-control-attach-icon {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.cds-form-control-attach + label {
  width: 456px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 16px rgba(77, 77, 77, 0.08);
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cds-form-control-attach-help + label {
  width: 456px;
  height: 46px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 16px rgba(77, 77, 77, 0.08);
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cds-form-control-attach-icon + label {
  width: 456px;
  height: 56px;
  background: #1946BA;
  box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 24px rgba(77, 77, 77, 0.16);
  border-radius: 4px;
}

.cds-ipack-doc-add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cds-ipack-doc-add:after {
  content: url("adddoc.svg");
}

.cds-form-control.cds-form-control-attach-progress {
  width: 90%;
  height: 4px;
  background: #ddd;
  margin-bottom: 20px;
  padding: 0;
}

.cds-form-control.cds-form-control-attach-success {
  width: 90%;
  height: 4px;
  background: #ddd;
  margin-bottom: 20px;
  padding: 0;
}

.cds-form-control.cds-form-control-attach-fail {
  width: 90%;
  height: 4px;
  background: #ddd;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
}
.cds-form-control.cds-form-control-attach-fail:before {
  content: "Произошла ошибка, попробуйте загрузить файл повторно";
  position: absolute;
  color: #D9364B;
  right: 0;
  bottom: -20px;
}

.cds-progress {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 73%;
  height: 4px;
  border-radius: 7px;
  background: #1946BA;
}
.cds-progress.cds-progress-success {
  width: 100%;
  background: #3F9726;
}
.cds-progress.cds-progress-success:after {
  content: "100%";
  position: absolute;
  color: #3F9726;
  right: -15px;
  top: -20px;
}
.cds-progress.cds-progress-fail {
  width: 73%;
  background: #D9364B;
}
.cds-progress.cds-progress-fail:after {
  content: "73%";
  position: absolute;
  color: #D9364B;
  right: -15px;
  top: -20px;
}
.cds-progress:after {
  content: "73%";
  position: absolute;
  color: #1946BA;
  right: -15px;
  top: -20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cds-form-control-attach-wrong {
  padding: 0;
}

.cds-badge-pill.cds-badge-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  color: #FFFFFF;
  background: #1946BA;
  box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 16px rgba(77, 77, 77, 0.08);
  border-radius: 16px;
  border: none;
}
.cds-badge-pill.cds-badge-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  width: auto;
  height: auto;
  color: #1946BA;
  background: #FFFFFF;
  border: 1px solid #1946BA;
  box-sizing: border-box;
  border-radius: 16px;
}
.cds-badge-pill.cds-badge-disable, .cds-badge-pill:disabled, .cds-badge-pill[disabled], .cds-badge-pill[disabled]:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  width: auto;
  height: auto;
  color: #FFFFFF;
  background: #D1DAF1;
  border: none;
  border-radius: 16px;
}
.cds-badge-pill.cds-badge-hover, .cds-badge-pill:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  width: auto;
  height: auto;
  color: #1946BA;
  background: #FFFFFF;
  border: 1px solid #D1DAF1;
  border-radius: 16px;
}

.cds-tagbutton .cds-form-control-active, .cds-tagbutton .cds-list.cds-list-flush {
  padding: 1px 8px;
}
.cds-tagbutton .cds-small-text-bold, .cds-tagbutton .cds-badge-pill {
  margin-right: 4px;
}
.cds-tagbutton .cds-ipack-close .cds-color {
  stroke: #999999;
}
.cds-tagbutton.hover, .cds-tagbutton:hover {
  cursor: pointer;
}
.cds-tagbutton.hover .cds-form-control-hover, .cds-tagbutton:hover .cds-form-control-hover {
  background-color: #EEEEEE;
}
.cds-tagbutton.hover .cds-ipack-close .cds-color, .cds-tagbutton:hover .cds-ipack-close .cds-color {
  stroke: #262626;
}
.cds-tagbutton.click .cds-form-control-hover, .cds-tagbutton:active .cds-form-control-hover {
  background-color: #143895;
  box-shadow: none;
}
.cds-tagbutton.click .cds-ipack-close .cds-color, .cds-tagbutton:active .cds-ipack-close .cds-color {
  stroke: #FFFFFF;
}
.cds-tagbutton.click .cds-small-text-bold, .cds-tagbutton.click .cds-badge-pill, .cds-tagbutton:active .cds-small-text-bold, .cds-tagbutton:active .cds-badge-pill {
  color: #FFFFFF;
}
.cds-tagbutton.chosen .cds-form-control-chosen, .cds-tagbutton:focus .cds-form-control-chosen {
  background-color: #1946BA;
  box-shadow: none;
}
.cds-tagbutton.chosen .cds-ipack-close .cds-color, .cds-tagbutton:focus .cds-ipack-close .cds-color {
  stroke: #FFFFFF;
}
.cds-tagbutton.chosen .cds-small-text-bold, .cds-tagbutton.chosen .cds-badge-pill, .cds-tagbutton:focus .cds-small-text-bold, .cds-tagbutton:focus .cds-badge-pill {
  color: #FFFFFF;
}

.cds-select > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cds-select .cds-body-text {
  color: #999999;
}
.cds-select.cds-select-active .cds-body-text {
  color: #4D4D4D;
}
.cds-select.cds-select-active .cds-small-text {
  color: #999999;
}
.cds-select.cds-select-active .cds-ipack-arrow {
  transform: scale(-1);
}
.cds-select.selected .cds-form-control {
  background-color: #1946BA;
  color: #FFFFFF;
}
.cds-select.selected .cds-color {
  stroke: #FFFFFF;
}
.cds-select li.cds-item-hover, .cds-select .cds-item-selected, .cds-select li:hover {
  background-color: #EEEEEE;
}
.cds-select li.cds-item-hover:after, .cds-select .cds-item-selected:after, .cds-select li:hover:after {
  content: url("Checkmark.svg");
}

.cds-list.cds-list-flush {
  margin-top: 5px;
  width: auto;
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cds-list.cds-list-flush .cds-form-control-active, .cds-list.cds-list-flush .cds-list.cds-list-flush {
  width: -moz-available;
  width: -webkit-fill-available;
  width: available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  box-shadow: none;
}
.cds-list.cds-list-flush .cds-body-text {
  color: #4D4D4D;
}

.cds-dropdown > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cds-dropdown.cds-form-control .cds-body-text {
  color: #4D4D4D;
}
.cds-dropdown.cds-form-control .cds-ipack-arrow .cds-color {
  stroke: #1946BA;
}
.cds-dropdown.cds-body-text {
  color: #262626;
}
.cds-dropdown.disabled .cds-form-control-disabled .cds-body-text, .cds-dropdown:disabled .cds-form-control-disabled .cds-body-text {
  color: #999999;
}
.cds-dropdown.disabled .cds-form-control-disabled .cds-ipack-arrow .cds-color, .cds-dropdown:disabled .cds-form-control-disabled .cds-ipack-arrow .cds-color {
  stroke: #999999;
}
.cds-dropdown.cds-dropdown-list .cds-ipack-arrow {
  transform: scale(-1);
}
.cds-dropdown.selected .cds-form-control {
  background-color: #1946BA;
  color: #FFFFFF;
}
.cds-dropdown.selected .cds-color {
  stroke: #FFFFFF;
}

.cds-input-success > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cds-input-success input, .cds-input-success input[disabled] {
  background: none;
  border: none;
}
.cds-input-success .cds-small-text {
  color: #999999;
}
.cds-input-success .cds-body-text {
  color: #4D4D4D;
}
.cds-input-success .cds-ipack-checkmark .cds-color-success {
  stroke: #3F9726;
}

.mt30 {
  margin-top: 30px;
}

.ml16 {
  margin-left: 16px;
}

.ml30 {
  margin-left: 30px;
}

.ml60 {
  margin-left: 60px;
}

.mr120 {
  margin-right: 120px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb30 {
  margin-bottom: 30px;
}

/*# sourceMappingURL=index.css.map */
