$color-primary: #1946BA;
$color-primary-100: #D1DAF1;
$color-primary-300: #7590D6;
$color-primary-500: #143895;
$color-primary-700: #0F2A70;
$color-border-primary: #1946BA;

$color-light: #E8E8E8;
$color-light-700: #EEEEEE;
$color-light-500: #F4F4F4;
$color-light-300: #F9F9F9;
$color-light-100: #FFFFFF;
$color-border-light: #EEEEEE;

$color-dark: #262626;
$color-dark-700: #4D4D4D;
$color-dark-500: #999999;
$color-dark-300: #CCCCCC;
$color-border-dark: #999999;

$color-warning: #F69C00;
$color-warning-300: #FAC466;
$color-warning-100: #FDEBCC;
$color-border-warning: #FAC466;

$color-fail: #D9364B;
$color-fail-300: #E88693;
$color-fail-100: #F7D7DB;
$color-border-fail: #E88693;

$color-success: #3F9726;
$color-success-300: #8CC17D;
$color-success-100: #D9EAD4;
$color-border-success: #8CC17D;

* {
  margin: 0;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column
}

.row {
  display: flex;
  flex-direction: row;
}
.jce {
  display: flex;
  justify-content: flex-end;
}
.w260 {
  width: 260px;
  flex-shrink: 0;
}

.w350 {
  width: 350px;
  flex-shrink: 0;
}

.w500 {
  width: 500px;
  flex-shrink: 0;
}

.w700 {
  width: 700px;
  flex-shrink: 0;
}

.w900 {
  width: 900px;
  flex-shrink: 0;
}

.content-wrap {
  max-height: 100vh;
  min-height: 100vh;
}

.description {

}

.main-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #1D1A1B;
  margin: 30px;
}

.partition-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 84px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #1D1A1B;
  margin: 30px;
}

.second-partition-title {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: $color-dark;
  margin: 30px;
}

.instances {
  flex-shrink: 0;
  //margin: 30px;
}

.instance {
  margin: 20px 0;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  width: 135px;
}

.info-title {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $color-dark-500;
}

.info-span {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);

  span {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
  }
}

.df {
  display: flex;
}

.css-code {
  flex-shrink: 0;
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $color-dark-700;
  margin-left: 20px;

  .span-yellow {
    color: $color-warning;
    margin-left: -20px;
  }
  .cds-color-dark-500 {
    margin-left: 30px;
  }
  .cds-color-dark-300 {
    margin-left: 40px;
  }
}

//Заголовки
.cds-sp1 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  paragraph: 32px;
}

.cds-sp2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  paragraph: 28px;
}

.cds-h1 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  paragraph: 24px;
}

.cds-h2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  paragraph: 22px;
}

.cds-h3 {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  paragraph: 20px;
}

.cds-h4 {
  font-family: Segoe UI, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  paragraph: 18px;
}

//Основной и вспомогательный текст
.cds-subtitle {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  paragraph: 17px;
}

.cds-body-text {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  paragraph: 13px;
}

.cds-body-text-bold {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  paragraph: 13px;
}

.cds-small-text {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-small-text-bold {
  font-family: Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-caption {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  paragraph: 11px;
}

.cds-caption2 {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  paragraph: 11px;
}

//Основной текст
.description-text {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-left: 30px;
  margin-bottom: 21px;
}

.example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.outline-base-text {
  width: 440px;
  border: 0.5px solid $color-border-primary;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;

  &:after {
    content: "20px";
    position: relative;
    width: 35px;
    left: -55px;
    top: 100%;
    color: $color-border-primary;
  }

}

.base-text {
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background: blue;
    position: absolute;
    left: -20px;
    bottom: -20px;
  }

  &:after {
    content: "";
    width: 440px;
    height: 20px;
    border: 0.5px solid $color-border-primary;
    border-top: none;
    position: absolute;
    left: -0.5px;
    bottom: -20px;
  }
}

//базовые цвета
.color-block {
  margin-bottom: 30px;
  margin-right: 120px;

  .css-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 16px;
  }
}

.first-color-block {
  margin: 0 30px;
  width: 138.43px;
  height: 74.83px;
  left: 64px;
  top: 263px;
  border-radius: 4px;
}

.second-color-block {
  margin: 0 30px;
  width: 149.66px;
  height: 52.38px;
  border-radius: 4px;
  border: 0.74829px solid $color-border-light;
}

.box {
  width: 200px;
  height: 56px;
  margin-right: 50px;
}

//фирменный цвет и оттенки
.cds-color-primary {
  color: $color-primary;
}

.cds-bg-primary {
  background-color: $color-primary;
}

.cds-color-primary-100 {
  color: $color-primary-100;
}

.cds-bg-primary-100 {
  background-color: $color-primary-100;
}

.cds-color-primary-300 {
  color: $color-primary-300;
}

.cds-bg-primary-300 {
  background-color: $color-primary-300;
}

.cds-color-primary-500 {
  color: $color-primary-500;
}

.cds-bg-primary-500 {
  background-color: $color-primary-500;
}

.cds-color-primary-700 {
  color: $color-primary-700;
}

.cds-bg-primary-700 {
  background-color: $color-primary-700;
}

.cds-border-primary {
  border: 1.49658px solid $color-border-primary;
}

//светлые цвета - фон
.cds-color-light {
  color: $color-light;
}

.cds-bg-light {
  background-color: $color-light;
}

.cds-color-light-700 {
  color: $color-light-700;
}

.cds-bg-light-700 {
  background-color: $color-light-700;
}

.cds-color-light-500 {
  color: $color-light-500;
}

.cds-bg-light-500 {
  background-color: $color-light-500;
}

.cds-color-light-300 {
  color: $color-light-300;
}

.cds-bg-light-300 {
  background-color: $color-light-300;
}

.cds-color-light-100 {
  color: $color-light-100;
}

.cds-bg-light-100 {
  background-color: $color-light-100;
}

//темные цвета - текст
.cds-color-dark {
  color: $color-dark;
}

.cds-bg-dark {
  background-color: $color-dark;
}

.cds-color-dark-700 {
  color: $color-dark-700;
}

.cds-bg-dark-700 {
  background-color: $color-dark-700;
}

.cds-color-dark-500 {
  color: $color-dark-500;
}

.cds-bg-dark-500 {
  background-color: $color-dark-500;
}

.cds-color-dark-300 {
  color: $color-dark-300;
}

.cds-bg-dark-300 {
  background-color: $color-dark-300;
}

.cds-border-dark {
  border: 0.74829px solid $color-border-dark;
}

//желтый
.cds-color-warning {
  color: $color-warning;
}

.cds-bg-warning {
  background-color: $color-warning;
}

.cds-color-warning-300 {
  color: $color-warning-300;
}

.cds-bg-warning-300 {
  background-color: $color-warning-300;
}

.cds-color-warning-100 {
  color: $color-warning-100;
}

.cds-bg-warning-100 {
  background-color: $color-warning-100;
}

.cds-border-warning {
  border: 0.74829px solid $color-border-warning;
}

//красный
.cds-color-fail {
  color: $color-fail;
}

.cds-bg-fail {
  background-color: $color-fail;
}

.cds-color-fail-300 {
  color: $color-fail-300;
}

.cds-bg-fail-300 {
  background-color: $color-fail-300;
}

.cds-color-fail-100 {
  color: $color-fail-100;
}

.cds-bg-fail-100 {
  background-color: $color-fail-100;
}

.cds-border-fail {
  border: 0.74829px solid $color-border-fail;
}

//зеленый
.cds-color-success {
  color: $color-success;
}

.cds-bg-success {
  background-color: $color-success;
}

.cds-color-success-300 {
  color: $color-success-300;
}

.cds-bg-success-300 {
  background-color: $color-success-300;
}

.cds-color-success-100 {
  color: $color-success-100;
}

.cds-bg-success-100 {
  background-color: $color-success-100;
}

.cds-border-success {
  border: 0.74829px solid $color-border-success;
}

//тени
.cds-shadow {
  box-shadow: 0 4px 4px 0 #F8F8F8;
  box-shadow: 0 4px 16px 0 #F1F1F1;
}

.cds-shadow-active {
  box-shadow: 0 4px 4px 0 #F8F8F8;
  box-shadow: 0 4px 24px 0 #E3E3E3;
}

.cds-shadow-fail {
  box-shadow: 0 4px 4px 0 #FEF9F9;
  box-shadow: 0 4px 16px 0 #FEFCFC;
}

.cds-shadow-fail-active {
  box-shadow: 0 4px 4px 0 #FFFDFE;
  box-shadow: 0 4px 24px 0 #FCF1F3;
}

.cds-shadow-success {
  box-shadow: 0 4px 16px 0 #F9FCF8;
  box-shadow: 0 4px 8px 0 #FCFDFC;
}

.cds-shadow-success-active {
  box-shadow: 0 4px 4px 0 #F5FAF4;
  box-shadow: 0 4px 4px 0 #F5FAF4;
}

//формы
.cds-form-control {
  border-radius: 4px;
  padding: 16px;
  border: none;
  background: $color-light-100;
  @extend .cds-shadow
}

.cds-form-control-active {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px 16px;
  border: none;
  background: $color-light-100;
  @extend .cds-shadow-active
}

.cds-form-control-fail {
  border-radius: 4px;
  padding: 10px 16px;
  border: none;
  @extend .cds-bg-fail-100;
  @extend .cds-shadow-fail;
}

.cds-form-control-fail-active {
  border-radius: 4px;
  padding: 10px 16px;
  border: none;
  @extend .cds-bg-fail-100;
  @extend .cds-shadow-fail-active;
}

.cds-form-control-success {
  border-radius: 4px;
  padding: 10px 16px;
  border: none;
  @extend .cds-bg-success-100;
  @extend .cds-shadow-success;
}

.cds-form-control-disabled {
  border-radius: 4px;
  padding: 10px 16px;
  border: none;
  @extend .cds-bg-light-700;
}
.cds-form-control {
  &.cds-form-control-attach, &.cds-form-control-attach-help, &.cds-form-control-attach-icon {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
.cds-form-control-attach {
  + label {
    width: 456px;
    height: 42px;
    background: $color-light-100;
    box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 16px rgba(77, 77, 77, 0.08);
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cds-form-control-attach-help {
  + label {
    width: 456px;
    height: 46px;
    background: $color-light-100;
    box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 16px rgba(77, 77, 77, 0.08);
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.cds-form-control-attach-icon {
  + label {
    width: 456px;
    height: 56px;
    background: $color-primary;
    box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 24px rgba(77, 77, 77, 0.16);
    border-radius: 4px;
  }
}
.cds-ipack-doc-add {
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: url("adddoc.svg");
  }
}

.cds-form-control.cds-form-control-attach-progress {
   width: 90%;
   height: 4px;
   background: #ddd;
   margin-bottom: 20px;
   padding: 0;
 }
.cds-form-control.cds-form-control-attach-success {
  width: 90%;
  height: 4px;
  background: #ddd;
  margin-bottom: 20px;
  padding: 0;
}
.cds-form-control.cds-form-control-attach-fail {
  width: 90%;
  height: 4px;
  background: #ddd;
  margin-bottom: 20px;
  padding: 0;
  position: relative;

  &:before {
    content: "Произошла ошибка, попробуйте загрузить файл повторно";
    position: absolute;
    color: $color-fail;
    right: 0;
    bottom: -20px;
  }
}
.cds-progress {
  display: flex;
  flex-direction: row;
  position: relative;

  &.cds-progress-success {
    width: 100%;
    background:$color-success;

    &:after {
      content: "100%";
      position: absolute;
      color: $color-success;
      right: -15px;
      top: -20px;
    }

  }
  &.cds-progress-fail {
    width: 73%;
    background:$color-fail;

    &:after {
      content: "73%";
      position: absolute;
      color: $color-fail;
      right: -15px;
      top: -20px;
    }
  }

  &:after {
    content: "73%";
    position: absolute;
    color: $color-primary;
    right: -15px;
    top: -20px;
  }

  width: 73%;
  height: 4px;
  border-radius: 7px;
  background: $color-primary;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cds-form-control-attach-wrong {
  padding: 0;
}
.cds-badge-pill {
  @extend .cds-small-text-bold;

  &.cds-badge-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    color: $color-light-100;
    background: $color-primary;
    box-shadow: 0 4px 4px rgba(77, 77, 77, 0.04), 0 4px 16px rgba(77, 77, 77, 0.08);
    border-radius: 16px;
    border: none;
  }
  &.cds-badge-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    width: auto;
    height: auto;
    color: $color-primary;
    background: $color-light-100;
    border: 1px solid $color-border-primary;
    box-sizing: border-box;
    border-radius: 16px;
  }
  &.cds-badge-disable,&:disabled,&[disabled], &[disabled]:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    width: auto;
    height: auto;
    color: $color-light-100;
    background: $color-primary-100;
    border: none;
    border-radius: 16px;
  }
  &.cds-badge-hover, &:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;

    width: auto;
    height: auto;
    color: $color-primary;
    background: $color-light-100;
    border: 1px solid $color-primary-100;
    border-radius: 16px;
    @extend .cds-shadow;
  }
}
.cds-tagbutton {
  .cds-form-control-active {
    padding: 1px 8px
  }
  .cds-small-text-bold {
    @extend .cds-color-primary;
    margin-right: 4px;
  }
  .cds-ipack-close {
    .cds-color {
      stroke: $color-dark-500;
    }
  }

  &.hover, &:hover {
    cursor: pointer;
    .cds-form-control-hover {
      background-color: $color-light-700;
      @extend .cds-shadow;
    }
    .cds-ipack-close {
      .cds-color {
        stroke: $color-dark;
      }
    }
  }
  &.click, &:active {
    .cds-form-control-hover {
      background-color: $color-primary-500;
      box-shadow: none;
    }
    .cds-ipack-close {
      .cds-color {
        stroke: $color-light-100;
      }
    }
    .cds-small-text-bold {
      color: $color-light-100;
    }
  }
  &.chosen, &:focus {
    .cds-form-control-chosen {
      background-color: $color-primary;
      box-shadow: none;
    }
    .cds-ipack-close {
      .cds-color {
        stroke: $color-light-100;
      }
    }
    .cds-small-text-bold {
      color: $color-light-100;
    }
  }
}

.cds-select {
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cds-body-text {
    color: $color-dark-500;
  }

  &.cds-select-active {
    .cds-body-text {
      color: $color-dark-700;
    }
    .cds-small-text {
      color: $color-dark-500;
    }
    .cds-ipack-arrow {
      transform: scale(-1);
    }
  }
 &.selected {
    .cds-form-control {
      background-color: $color-primary;
      color: $color-light-100;
    }
    .cds-color {
      stroke: $color-light-100;
    }

  }
  li.cds-item-hover, .cds-item-selected, li:hover {
    background-color: $color-light-700;
    &:after {
      content: url("Checkmark.svg");
    }
  }
}
.cds-list.cds-list-flush {
  margin-top: 5px;
  width: auto;
  height: auto;
  @extend .cds-form-control-active;
  padding: 0;

  .cds-form-control-active {
    width: -moz-available;
    width: -webkit-fill-available;
    width: available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    box-shadow: none;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .cds-body-text {
    color: $color-dark-700
  }
}
.cds-dropdown {
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &.cds-form-control {
    .cds-body-text {
      color: $color-dark-700;
    }
    .cds-ipack-arrow {
      .cds-color {
        stroke: $color-primary;
      }
    }
  }
  &.cds-body-text {
    color: $color-dark;
  }
  &.disabled, &:disabled {
    .cds-form-control-disabled {
      .cds-body-text {
        color: $color-dark-500;
      }
      .cds-ipack-arrow {
        .cds-color {
          stroke: $color-dark-500;
        }
      }
    }
  }
  &.cds-dropdown-list {
    .cds-ipack-arrow {
      transform: scale(-1);
    }
  }
  &.selected {
    .cds-form-control {
      background-color: $color-primary;
      color: $color-light-100;
    }
    .cds-color {
      stroke: $color-light-100;
    }

  }
}
.cds-input,.cds-input-calendar,.cds-input-disabled,.cds-input-success,.cds-input-active, .cds-input-tip, .cds-input-fail-tip {
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  input, input[disabled] {
    padding: 0;
    background: none;
    border: none;
  }
  .cds-form-control {
    .cds-body-text {
      color: $color-dark-300;
    }
  }
  .cds-form-control-disabled {
    .cds-small-text {
      color: $color-dark-300;
    }
  }
  .cds-form-control-active {
    .cds-small-text {
      color: $color-light;
    }
    .cds-body-text {
      color: $color-dark-700;
    }
  }
  .cds-form-control-success{
    .cds-small-text {
      color: $color-dark-500;
    }
    .cds-body-text {
      color: $color-dark-700;
    }
    .cds-ipack-checkmark {
      .cds-color-success {
        stroke: $color-success;
      }
    }
  }
}
.cds-input-tip {
  .cds-small-text {
    margin-left: 16px;
    margin-top: 4px;
    color: $color-dark-500;
  }
}
.cds-input-fail-tip {
  .cds-form-control-fail {
    .cds-small-text {
      margin: 0;
      color: $color-dark-500;
    }
  }
  .cds-small-text {
    margin-left: 16px;
    margin-top: 4px;
    color: $color-fail;
  }
}
.cds-input-phone,.cds-input-calendar,.cds-input-calendar-success,.cds-input-calendar-fail, .cds-input-calendar-active, .cds-input-icon, .cds-input-icon-active {
  .cds-form-control, .cds-form-control-active,.cds-form-control-fail,.cds-form-control-success  {
    display: flex;
    flex-direction: revert;
  }
  .cds-flag-ru {
    margin-right: 4px;
  }
  input, input[disabled] {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-sizing: border-box;
  }
  .cds-body-text {
    color: $color-dark-300;
  }
  .cds-form-control-active {
    .cds-small-text {
      color: $color-dark-300;
    }
    .cds-body-text {
      color: $color-dark-700;
    }
  }
}
.cds-input-calendar {
  .cds-ipack-calendar {
    stroke: $color-dark-300;
  }
}
.cds-input-calendar-active, , .cds-input-calendar-success {
  .cds-ipack-calendar .cds-color, .cds-body-text {
    stroke: $color-dark-700;
  }
}
.cds-input-calendar-fail {
  .cds-form-control-fail {
    .cds-body-text {
      color: $color-dark-700;
    }
  }
  .cds-ipack-calendar .cds-color{
    stroke: $color-fail;
  }
  .cds-small-text {
    color: $color-fail;
    margin-left: 16px;
  }
}
.cds-input-calendar-success {
  .cds-form-control-success {
    .cds-body-text {
      color: $color-dark-700;
    }
  }
  .cds-ipack-calendar .cds-color{
    stroke: $color-success;
  }
  .cds-small-text {
    color: $color-success;
    margin-left: 16px;
  }
}
.mt30 {
  margin-top: 30px;
}

.ml16 {
  margin-left: 16px;
}
.ml30 {
  margin-left: 30px;
}

.ml60 {
  margin-left: 60px;
}

.mr120 {
  margin-right: 120px;
}
.mr60 {
  margin-right: 60px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb30 {
  margin-bottom: 30px;
}
